.actions
  = link_to t('actions.show', :default => 'show'), <%= named_route %>
  = link_to t('actions.edit', :default => 'edit'), <%= named_route(:edit) %>
  = link_to t('actions.delete', :default => 'delete'), <%= named_route %>, :method => :delete