=labelled_form_for <%= class_path.blank? ? "@#{singular_name}" : "[#{class_path.map{|k| ":"+k.to_s}.join(',')}, @#{singular_name}]"%> do |f|
  %h2= ( @<%=singular_name%>.new_record? ? t('actions.new',:default => 'new') : t('actions.edit', :default => 'edit') ) + ' '+ t('activerecord.models.<%=singular_name%>', :default => '<%=singular_name%>')
  <%- for attribute in attributes -%>
  = f.<%= attribute.field_type %> :<%= attribute.name %>
  <%- end -%>
  .buttons
    = f.submit
    = link_to t('actions.cancel', :default => 'cancel'), @<%=singular_name%>.new_record? ? <%= named_route(:index) %> : <%=named_route(:show)%>