.options
  = text_field_tag :search, nil, :class => 'search', 'data-source' => <%= named_route(:index)%>
  = link_to t("actions.new", :default => 'new'), <%= named_route(:new)%>, :class=> 'new'

.list-wrapper
  %ul
    = render :partial => 'item', :collection => @<%=plural_name%>, :as => :<%=singular_name%>

  = will_paginate @<%=plural_name%>