.actions
  = link_to t('actions.show', :default => 'show'), <%= singular_name %>
  = link_to t('actions.edit', :default => 'edit'), [:edit,<%= singular_name %>]
  = link_to t('actions.delete', :default => 'delete'), <%= singular_name %>, :method => :delete