=labelled_form_for @<%=singular_name%> do |f|
  %h2= ( @@<%=singular_name%>.new_record? ? t('actions.new') : t('actions.edit') ) + t('activerecord.models.@<%=singular_name%>')
  <%- for attribute in attributes -%>
  = f.<%= attribute.field_type %> :<%= attribute.name %>
  <%- end -%>
  .buttons
    = f.submit
    = link_to t('actions.cancel'), @<%=singular_name%>